.eltd-iwt-icon-holder{
  width: 12%;
}


video {
  width: 100%;
  height: 200px;
}
.mens1 p{
color: #92979f;
}

.logo-img a img{
    width: 30% !important;
}



*{
    margin: 0px;
    box-sizing: border-box;
}
.how{
    margin: 20px 0px;
}
.how h1{
    text-align: center;
    margin: 70px 0px;
}
.how h1::before{
    content: "";
    width: 30%;
    height: 1px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}
.how h1::after{
    content: "";
    width: 30%;
    height: 1px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
.how-child{
   max-width: 1300px;
   margin: 0px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}
.how-child1{
    width: 45%;
}
.how-child1 img{
    width: 100%;
    border-radius:10px ;
}

.price-box1{
    max-width: 1300px;
    margin: 0px auto;
}
.entry-title{
    text-align: center;
}
.price{
    padding: 0px 30px;
}
@media(max-width:767px){
    .how h1::before{
        content: "";
        width: 30%;
        height: 1px;
        background-color: black;
        display: none;
        vertical-align: middle;
        margin-right: 30px;
    }
    .how h1::after{
        content: "";
        width: 30%;
        height: 1px;
        background-color: black;
        display:none;
        vertical-align: middle;
        margin-left: 30px;
    }
    .how-child{
        flex-direction: column;
    }
    .how-child1{
        width: 90%;
    }
}


 /* .contact */

 .contact{
    background-color: transparent;
    background-image: linear-gradient(110deg, rgba(255, 255, 255, 0) 64%, rgba(37, 57, 147, 0.08) 64%);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;

   
  }

  .contact-child{
    background-color: transparent;
    background-image: linear-gradient(110deg, #F9FAFF 32%, rgba(37, 57, 147, 0.08) 32%);
    height: 100%;
  }



  .contact-child1{
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
    padding: 100px 0px;
  }
  .contact-child1 .us{
    font-size: 60px;
  }
  .number{
    text-decoration: none;
    color: black;
    font-size: 22px;
    padding: 20px 0px;
    display: inline-block;

  }
  .contact-child1 span{
    width: 20%;
    height: 4px;
    border-radius: 40%;
    margin: 10px 0px ;
    display: inline-block;
    background-color: #11176b;
  } 
  .email a{
    color: black;
    font-size: 22px;
    padding: 20px 0px;
    text-decoration: none;
   
  }
  .book{
    text-decoration: none;
    padding: 10px 15px;
    color:white;
    border-radius: 10px;
    display: inline-block;
    margin: 20px;
    background-color: black;
    transition: 0.5s;

}
.book:hover{
    background-color: white;
    color: black;
    
}

/* box6 */

.box6{
    padding: 50px 0px 100PX;
    
  }
  .box6-child{
    max-width: 1200px;
    margin: 0px auto;
    
  }
  iframe{
    width: 100%;
  }
  
  .box6-child h2 {
    font-family: 'Poppins', sans-serif;
    padding: 70px 0px 0px;
  }
  
  .box6-child span {
    display: inline-block;
  
    width: 16%;
    height: 3px;
    background-color: #ab1723;
    border-radius: 40%;
    margin-bottom: 50px;
  
  }
  .item_text{
    color: white;
  }
  .text1{
    color: white;
  }

  .eltd-ib-overlay{
    background-size: cover;
    height: 400px;
  }
  .section-img{
    display: flex;
    max-width: 1100px;
    margin: 0px auto;
    justify-content: space-between;
align-items: center;
flex-wrap: wrap;
  }
  .section-img div{
    width: 22%;

  }
  .section-img div img{
    width: 100%;
  }
  @media(max-width:767px){  
    .section-img{
      display: flex;
    width: 90%;
 flex-wrap: wrap;
      margin: 0px auto;
      justify-content: space-between;
  
    }
    .section-img div{
      width: 45%;
  
    }
  }